@model Ludotheque.Models.GamesIndexData
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Nom
            </th>
            <th>
                Description
            </th>
            <th>
                MinPlayer
            </th>
            <th>
                MaxPlayer
            </th>
            <th>
                MinimumAge
            </th>
            <th>
                GameTime
            </th>
            <th>
                Price
            </th>
            <th>
                ReleaseDate
            </th>
            <th>
                BuyLink
            </th>
            <th>
                VideoLink
            </th>
            <th>
                PictureLink
            </th>
            <th>
                Validate
            </th>
            <th>
                Difficulty
            </th>
            <th>
                Illustrator
            </th>
            <th>
                Editor
            </th>
            <th>
                Theme
            </th>
            <th>
                Ms
            </th>
            <th>
                Mecha
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Games) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MinPlayer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaxPlayer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MinimumAge)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GameTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReleaseDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BuyLink)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VideoLink)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PictureLink)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Validate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Difficulty.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Illustrator.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Editor.Name)
            </td>
            <td>
                @foreach (var t in item.ThemesGames)
                {
                    @t.Theme.Name <br />
                }
            </td>
            <td>
                @foreach (var t in item.MaterialSupportsGames)
                {
                    @t.MaterialSupport.Name <br />
                }
            </td>
            <td>
                @foreach (var t in item.MechanismsGames)
                {
                    @t.Mechanism.Name <br />
                }
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
