@model Ludotheque.Models.Game
@inject Microsoft.AspNetCore.Identity.SignInManager<Ludotheque.Areas.Identity.Data.LudothequeUser> signInManager;


@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Game</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MinPlayer" class="control-label"></label>
                <input asp-for="MinPlayer" class="form-control" />
                <span asp-validation-for="MinPlayer" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MaxPlayer" class="control-label"></label>
                <input asp-for="MaxPlayer" class="form-control" />
                <span asp-validation-for="MaxPlayer" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MinimumAge" class="control-label"></label>
                <input asp-for="MinimumAge" class="form-control" />
                <span asp-validation-for="MinimumAge" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GameTime" class="control-label"></label>
                <input asp-for="GameTime" class="form-control" />
                <span asp-validation-for="GameTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReleaseDate" class="control-label"></label>
                <input asp-for="ReleaseDate" class="form-control" />
                <span asp-validation-for="ReleaseDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BuyLink" class="control-label"></label>
                <input asp-for="BuyLink" class="form-control" />
                <span asp-validation-for="BuyLink" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VideoLink" class="control-label"></label>
                <input asp-for="VideoLink" class="form-control" />
                <span asp-validation-for="VideoLink" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DifficultyId" class="control-label"></label>
                <select asp-for="DifficultyId" class="form-control" asp-items="ViewBag.DifficultyId">
                    <option value=-1>--- Difficultés ---</option>

                </select>
            </div>
            <div class="form-group">
                <label asp-for="IllustratorId" class="control-label"></label>
                <select asp-for="IllustratorId" class="form-control" asp-items="ViewBag.IllustratorId">
                    <option value=-1>--- Illustrateur ---</option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="EditorId" class="control-label"></label>
                <select asp-for="EditorId" class="form-control" asp-items="ViewBag.EditorId">
                    <option  value=-1>--- Editeur ---</option>
                </select>
            </div>
            @if (signInManager.IsSignedIn(User) && User.IsInRole("Admin"))
            {
                <div class="form-group form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" asp-for="Validate" /> @Html.DisplayNameFor(model => model.Validate)
                    </label>
                </div>
            }
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <table>
                        <tr><th>Themes:</th></tr>

                        <tr>
                            @{
                                int cnt = 0;
                                List<Ludotheque.Models.AssignedCategories> themes = ViewBag.Theme;

                                foreach (var c in themes)
                                {
                                    if (cnt++ % 3 == 0)
                                    {
                                    @:</tr><tr>
                                    }
                                    @:<td>
                                        <input type="checkbox"
                                               name="selectedThemes"
                                               value="@c.CategoryId"
                                               @(Html.Raw(c.Assigned ? "checked=\"checked\"" : "")) />
                                        @c.Name
                                    @:</td>
                                }
                            @:</tr>
                            }
                        </table>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <table>
                            <tr><th>Support matériel :</th></tr>
                            <tr>
                                @{
                                    cnt = 0;
                                    List<Ludotheque.Models.AssignedCategories> ms = ViewBag.MaterialSupport;

                                    foreach (var c in ms)
                                    {
                                        if (cnt++ % 3 == 0)
                                        {
                                        @:</tr><tr>
                                        }
                                        @:<td>
                                            <input type="checkbox"
                                                   name="selectedMs"
                                                   value="@c.CategoryId"
                                                   @(Html.Raw(c.Assigned ? "checked=\"checked\"" : "")) />
                                            @c.Name
                                        @:</td>
                                    }
                                @:</tr>
                                }
                            </table>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <table>
                                <tr><th>Mecanismes:</th></tr>

                                <tr>
                                    @{
                                        cnt = 0;
                                        List<Ludotheque.Models.AssignedCategories> m = ViewBag.Mechanisms;

                                        foreach (var c in m)
                                        {
                                            if (cnt++ % 3 == 0)
                                            {
                                            @:</tr><tr>
                                            }
                                            @:<td>
                                                <input type="checkbox"
                                                       name="selectedMecha"
                                                       value="@c.CategoryId"
                                                       @(Html.Raw(c.Assigned ? "checked=\"checked\"" : "")) />
                                                @c.Name
                                            @:</td>
                                        }
                                    @:</tr>
                                    }
                                </table>
                            </div>
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Create" class="btn btn-primary" />
                        </div>
                    </form>
                </div>
            </div>

            <div>
                <a asp-action="Index">Back to List</a>
            </div>

            @section Scripts {
                @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
            }
