@model Ludotheque.Models.Game

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Game</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MinPlayer)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MinPlayer)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MaxPlayer)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MaxPlayer)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MinimumAge)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MinimumAge)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.GameTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.GameTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ReleaseDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ReleaseDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BuyLink)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BuyLink)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.VideoLink)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.VideoLink)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PictureLink)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PictureLink)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Validate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Validate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Difficulty)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Difficulty.label)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Illustrator)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Illustrator.LastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Editor)
        </dt>
        <dd class="col-sm-10">
            @ViewBag.EditorId
            @Html.DisplayFor(model => model.Editor.Name)
        </dd>

        <dt class="col-sm-2">Themes</dt>
        <dd class="col-sm-10">
            <ul class="list-inline">
                @foreach (var t in ViewBag.Theme)
                {
                    @if (t.Assigned)
                    {
                        <li class="list-inline-item">@t.Name</li>
                    }

                }
            </ul>
        </dd>
        <dt class="col-sm-2">Support matériel</dt>
        <dd class="col-sm-10">
            <ul class="list-inline">
                @foreach (var t in ViewBag.MaterialSupport)
                {
                    @if (t.Assigned)
                    {
                        <li class="list-inline-item">@t.Name</li>
                    }

                }
            </ul>
        </dd>
        <dt class="col-sm-2">Mécanismes</dt>
        <dd class="col-sm-10">
            <ul class="list-inline">
                @foreach (var t in ViewBag.Mechanisms)
                {
                    @if (t.Assigned)
                    {
                        <li class="list-inline-item">@t.Name</li>
                    }

                }
            </ul>
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
