@model IEnumerable<Ludotheque.Models.Game>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
@*  asp-controller = Nom du controller; asp-action = nom de l'action du controller, lien href ; method = *@
<form asp-controller="Games" asp-action="Index" method="get">
    <p>
        Nom: <input type="text" name="SearchString">
        <input type="submit" value="Filter" />
    </p>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MinPlayer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaxPlayer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MinimumAge)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GameTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReleaseDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BuyLink)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VideoLink)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PictureLink)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Validate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MinPlayer)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MaxPlayer)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MinimumAge)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.GameTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ReleaseDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BuyLink)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.VideoLink)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PictureLink)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Validate)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>

            </tr>
        }
    </tbody>
</table>
