@model Ludotheque.Models.GamesIndexData
@{
    ViewData["Title"] = "Support Materiel";
    Layout = "TableGame";
}
@section Head{
    <h1>@ViewData["MsName"]</h1>
    @if (@ViewData["MsDesc"] != null)
    {
        <p>"@ViewData["MsDesc"]"</p>

    }
}

@section Bottom
{
    @{

        var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
        var nextDisabled = !Model.HasNextPage ? "disabled" : "";
    }

    <a asp-action="MaterialSupport"
       asp-route-sortOrder="@ViewData["CurrentSort"]"
       asp-route-pageNumber="@(Model.PageIndex - 1)"
       asp-route-currentFilter="@ViewData["CurrentFilter"]"
       class="btn btn-outline-secondary @prevDisabled">
        Previous
    </a>
    <a asp-action="MaterialSupport"
       asp-route-sortOrder="@ViewData["CurrentSort"]"
       asp-route-pageNumber="@(Model.PageIndex + 1)"
       asp-route-currentFilter="@ViewData["CurrentFilter"]"
       class="btn btn-outline-secondary @nextDisabled">
        Next
    </a>
    <a asp-action="Index" class="btn btn-outline-dark"> Back to All Games</a>
}